{:blocks (
{:block/created-at 1718241712518
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "SafeHouse"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 282.0000233920132]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b7d09980-28f3-11ef-8654-1f24748c7f34"
:noFill false
:point [704 288]
:parentId "6669f9c4-e7d2-403b-a579-4cf7fcba2051"
:collapsedHeight 0
:nonce 1718221269835}}
:block/updated-at 1718241712518} 
{:block/created-at 1718241714792
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "EstusSaving"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 136.99999809750727]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6e5266c0-28f4-11ef-8654-1f24748c7f34"
:noFill false
:point [1120 288]
:parentId "6669f9c4-e7d2-403b-a579-4cf7fcba2051"
:collapsedHeight 0
:nonce 1718221576161}}
:block/updated-at 1718241714792} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "666a0caf-60f3-4801-a9ac-370c590e8e7b"}
:block/parent 
{:block/uuid #uuid "666a0caf-60f3-4801-a9ac-370c590e8e7b"}
:block/properties 
{}
:block/uuid #uuid "666a0c18-23cb-4b76-9490-89ce09825de8"})
:pages (
{:block/uuid #uuid "666a0caf-60f3-4801-a9ac-370c590e8e7b"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6669f9c4-e7d2-403b-a579-4cf7fcba2051"
:name "savesanddeath"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("b7d09980-28f3-11ef-8654-1f24748c7f34" "6e5266c0-28f4-11ef-8654-1f24748c7f34")}}
:block/journal? false
:block/updated-at 1718221664121
:block/created-at 1718221252970
:block/format :markdown
:block/type "whiteboard"
:block/name "savesanddeath"
:block/original-name "SavesAndDeath"})}