{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "666a0cae-d837-4c71-9545-7892c563b0cb"}
:block/parent 
{:block/uuid #uuid "666a0cae-d837-4c71-9545-7892c563b0cb"}
:block/uuid #uuid "6669e266-0d0a-422f-899e-407d7def2e9e"} 
{:block/created-at 1718243589732
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Reputation"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 547.0000266531644]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c47d2490-2921-11ef-8654-1f24748c7f34"
:noFill false
:point [288 384]
:parentId "666a0cae-d837-4c71-9545-7892c563b0cb"
:collapsedHeight 0
:nonce 1718241048449}}
:block/updated-at 1718243589732} 
{:block/created-at 1718243589743
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "GeneralPublic"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 345.9999604692439]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a29acc30-2924-11ef-8654-1f24748c7f34"
:noFill false
:point [1536 384]
:parentId "666a0cae-d837-4c71-9545-7892c563b0cb"
:collapsedHeight 0
:nonce 1718242279622}}
:block/updated-at 1718243589743} 
{:block/created-at 1718243589743
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "Factions&Handlers"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 346.0000065185641]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8c85a6c0-2926-11ef-8654-1f24748c7f34"
:noFill false
:point [704 384]
:parentId "666a0cae-d837-4c71-9545-7892c563b0cb"
:collapsedHeight 0
:nonce 1718243101677}}
:block/updated-at 1718243589743} 
{:block/created-at 1718243592295
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "Gigs&Events"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 63.999930813440876]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a4d28c60-2927-11ef-8654-1f24748c7f34"
:noFill false
:point [1120 384]
:parentId "666a0cae-d837-4c71-9545-7892c563b0cb"
:collapsedHeight 0
:nonce 1718243571890}}
:block/updated-at 1718243592295})
:pages (
{:block/uuid #uuid "666a0cae-d837-4c71-9545-7892c563b0cb"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "666a0cae-d837-4c71-9545-7892c563b0cb"
:name "social"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("c47d2490-2921-11ef-8654-1f24748c7f34" "a29acc30-2924-11ef-8654-1f24748c7f34" "8c85a6c0-2926-11ef-8654-1f24748c7f34" "a4d28c60-2927-11ef-8654-1f24748c7f34")}}
:block/updated-at 1718243592295
:block/created-at 1718214832087
:block/type "whiteboard"
:block/name "social"
:block/original-name "Social"})}