{:blocks (
{:block/content "Combat"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66671b1b-4b37-466d-8a06-ecfdfff96f24"}
:block/properties 
{}
:block/uuid #uuid "66671cbb-2fee-41c3-9975-6f03918b284b"} 
{:block/content "Saving"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66671b1b-4b37-466d-8a06-ecfdfff96f24"}
:block/uuid #uuid "66671ccc-3c8a-4658-ad0a-414f0fd13cc6"} 
{:block/content "Safehouses"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66671b1b-4b37-466d-8a06-ecfdfff96f24"}
:block/uuid #uuid "66671cf8-307a-4a12-b9c8-92b10fbe6949"} 
{:block/created-at 1718115824248
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Combat"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 200.000030022582]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3a2968f0-273f-11ef-bddc-83c59722f0ad"
:noFill false
:point [640 128]
:parentId "66671b1b-4b37-466d-8a06-ecfdfff96f24"
:collapsedHeight 0
:nonce 1718033798683}}
:block/updated-at 1718115824248} 
{:block/created-at 1718115832216
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Saving"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 281.9999932872273]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4685a000-273f-11ef-bddc-83c59722f0ad"
:noFill false
:point [1040 128]
:parentId "66671b1b-4b37-466d-8a06-ecfdfff96f24"
:collapsedHeight 0
:nonce 1718033819458}}
:block/updated-at 1718115832216} 
{:block/created-at 1718115834454
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "Econ"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 200.00002646680568]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "fbae5490-27fd-11ef-aabe-ff356814ef23"
:noFill false
:point [1440 128]
:parentId "66671b1b-4b37-466d-8a06-ecfdfff96f24"
:collapsedHeight 0
:nonce 1718115727643}}
:block/updated-at 1718115834454})
:pages (
{:block/uuid #uuid "66671b1b-4b37-466d-8a06-ecfdfff96f24"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66671b1b-4b37-466d-8a06-ecfdfff96f24"
:name "systems"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("3a2968f0-273f-11ef-bddc-83c59722f0ad" "4685a000-273f-11ef-bddc-83c59722f0ad")}}
:block/updated-at 1718034892984
:block/created-at 1718033179827
:block/type "whiteboard"
:block/name "systems"
:block/original-name "Systems"})}